<div class="view-container view-container-text" id="view-container">
    <h1 class="view-title">Lessons</h1>
    <img src="img/Brina-Teaching.jpg" class="img-responsive view-img">
    <p class="lesson-paragraph"><span class="accent-span">Brina Simon</span> teaches Trumpet and Piano to students across the LA area. She is able to tailor lesson plans to each student’s ability and personal goals. Formerly the brass instructor at Fillmore High School, she has taught lessons and given clinics at several schools including Santa Susana Performing Arts Magnet and Lindero Canyon Middle School. In addition to technique and theory, Brina Simon strives to pass on her own love of music to every one of her students.</p>
    <img src="img/Brina-Teaching-Piano.jpg" class="img-responsive view-img">
</div>